<div class="face-snap-card" *ngIf="faceSnap$ |async as faceSnap" [ngClass]="{snapped: btnLabel ==='Oops unSnap!'}">
    <a routerLink="/facesnaps">BACK</a>
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <p>Mise en ligne le {{ faceSnap.createdDate | date:'dd MMMM yyyy, à HH:mm'}}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" >
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
    <p>
        <button (click)="onSnap(faceSnap.id)">{{ btnLabel }}</button>
        <span [ngStyle]="{color:'rgb(0,' + faceSnap.snaps + ',0)'}">{{ faceSnap.snaps }}</span>
    </p>
</div>
